@import "tailwindcss";

@theme {
  /* Green */
  --color-primary-100: #e8f7f1;
  --color-primary-300: #b9f3de;
  --color-primary-500: #656c59;
  --color-primary-600: #3e4138;

  /* Red */
  --color-secondary-100: #ffc4e5;
  --color-secondary-300: #ee6e7f;
  --color-secondary-500: #6b3139;

  /* Yellow */
  --color-tertiary-100: #ffe6d5;
  --color-tertiary-300: #ffbc58;
  --color-tertiary-500: #b68564;

  /* Font Nunito */
  --font-nunito: "Nunito", sans-serif;

  /* Font Recoleta */
  --font-recoleta: "Recoleta", sans-serif;

  /* Font Noto */
  --font-noto: "Noto Sans", sans-serif;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-white p-0 font-nunito antialiased;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  @apply w-[90%] max-w-[1024px] mx-auto;
}

.squircle {
  mask: paint(squircle);
  --squircle-radius: 65px;
  --squircle-smooth: 1;
}

.squircle-border {
  background: paint(squircle);
  --squircle-outline: 1px;
  --squircle-radius: 65px;
  --squircle-fill: #fff;
  --squircle-smooth: 1;
}

/* Header */

body {
  @apply relative overflow-x-hidden;
}

.header {
  @apply min-h-[500px] md:min-h-[705px] py-11 flex relative;

  &::before {
    @apply w-full h-[200px] absolute top-0 left-0 z-[15];
    content: "";
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 15%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.header__logo-wrapper {
  @apply inline-flex shrink-0;
}

.header__logo-wrapper {
  @apply w-48 md:w-auto;
}

.header__nav {
  @apply flex justify-between relative z-20;
}

.header__links-wrapper {
  @apply hidden gap-10 lg:flex;
}

.header__link {
  @apply text-sm uppercase font-bold text-white transition-colors duration-500 relative h-fit pb-2.5;

  &:after {
    @apply w-full h-0.5 bg-primary-300 absolute -bottom-1.5 left-0 opacity-0 transition-all duration-500 ease-in-out;
    content: "";
  }

  &:hover {
    @apply text-primary-300;

    &:after {
      @apply opacity-100 bottom-0;
    }
  }
}

.header__baseline-wrapper {
  @apply min-h-full flex justify-center grow flex-col gap-10 md:gap-16 relative z-20;
}

.header__baseline-title {
  @apply font-recoleta text-5xl/12 md:text-7xl/18 text-white text-balance;
}

.header__baseline-subtitle {
  @apply text-white text-2xl font-normal;
}

.header__mobile-menu {
  @apply flex lg:hidden cursor-pointer;
}

.header__caroussel-wrapper {
  @apply absolute top-0 left-0 z-10 h-full w-full;
}

.header__caroussel {
  @apply relative h-full w-full;
}

.header__hero {
  @apply absolute object-cover w-full h-full top-0 left-0 opacity-0 transition-all duration-[3s] object-[65%_0] md:object-center;
  &:first-child {
    @apply opacity-100;
  }

  &.active {
    @apply opacity-100;
  }
}

.header__title {
  @apply flex flex-col justify-center gap-10 opacity-0 z-0 absolute top-0 left-0 w-full pr-0 md:pr-[40%] h-full;
  transition: opacity 3s ease;

  &:first-child {
    @apply opacity-100;
  }
}

/* Mobile Menu */

.mobile-menu {
  @apply h-screen w-full bg-primary-500 fixed top-0 left-0 z-50 py-11 overflow-hidden hidden;
  opacity: 0;
  transition: opacity 600ms ease;
}

.mobile-menu.active {
  opacity: 1;
  pointer-events: auto; /* Active les interactions */
  display: block;
}

.mobile-menu__wrapper {
  @apply flex justify-between items-start;
}

.mobile-menu__closer {
  @apply flex;
}

.mobile-menu__list {
  @apply mt-10 flex flex-col gap-5;
}

.mobile-menu__list {
  a {
    @apply text-2xl md:text-3xl;
  }
}

/* Intro */

.intro {
  @apply bg-primary-500 py-14;
}

.intro__wrapper {
  @apply flex gap-12 flex-col sm:flex-row items-center sm:items-start;
}

.intro__content {
  @apply w-full flex flex-col justify-center gap-7;
}

.intro__photo {
  @apply rounded-full aspect-square w-44 h-44 border-4 border-white overflow-hidden shrink-0;
}

.intro__title {
  @apply font-recoleta text-4xl leading-tight text-white p-0 m-0 text-center sm:text-left text-balance;

  span {
    @apply text-primary-300;
  }
}

.intro__paragraph {
  @apply text-white text-xl font-light text-center sm:text-left;
}

/* Approach */

.approach {
  @apply py-20;
}

.approach__wrapper {
  @apply grid grid-cols-1 md:grid-cols-2 gap-10;
}

.approach__content {
  @apply flex flex-col gap-6 text-center md:text-left;
}

.approach__title {
  @apply font-recoleta text-secondary-500 text-4xl md:text-5xl text-center md:text-left font-medium p-0 mb-3.5;
}

.approach__box {
  @apply bg-primary-100 p-11 rounded-[44px] flex flex-col gap-7  bg-[url(/dist/images/bg-box.webp)] bg-no-repeat bg-right;
}

.approach__box-title {
  @apply font-recoleta text-2xl font-medium text-primary-500;
}

.approach__list {
  @apply flex flex-col gap-7;
}

.approach__list-item {
  @apply pl-9 bg-[url(/dist/images/list-bullet.svg)] bg-no-repeat bg-[left_top_4px] text-primary-600;

  strong {
    @apply font-bold text-tertiary-500;
  }
}

/* Philosophy */

.philosophy {
  @apply py-20 bg-tertiary-100;
}

.philosophy__wrapper {
  @apply flex flex-col items-center gap-13;
}

.philosophy__title {
  @apply text-3xl md:text-4xl font-recoleta font-medium text-secondary-500 p-0 m-0;
}

.philosophy__box-wrapper {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 w-full;
}

.philosophy__box-item {
  @apply bg-white px-7 py-10 rounded-[40px] flex flex-col gap-6;
}

.philosophy__box-title {
  @apply text-xl font-recoleta font-medium text-secondary-500;
}

.philosophy__box-paragraph {
  @apply text-primary-600 text-sm;

  strong {
    @apply text-tertiary-500;
  }
}

/* Quote */

.quote {
  @apply min-h-[350px] md:min-h-[512px] bg-secondary-500 bg-[url(/dist/images/bg-quote.webp)] bg-no-repeat bg-cover flex justify-center items-center text-center;
}

.quote__title {
  @apply text-3xl md:text-5xl leading-tight text-white font-recoleta font-normal;

  span {
    @apply text-secondary-300;
  }
}

/* Speciality */

.speciality {
  @apply pt-20;
}

.speciality__title {
  @apply text-3xl md:text-4xl font-recoleta font-medium text-secondary-500 p-0 mb-10 md:mb-20 text-center;
}

.speciality__subtitle {
  @apply font-recoleta text-xl text-secondary-300 uppercase text-center font-medium tracking-widest;
}

.speciality__content-wrapper {
  @apply flex flex-col pt-20 gap-8;
}

.speciality__content-row {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-9;

  &:hover {
    .speciality__visual-wrapper {
      > img {
        @apply scale-105;
      }
    }
  }
}

.speciality__infos-title {
  @apply font-recoleta font-medium text-3xl md:text-4xl mb-5;
}

.speciality__infos-paragraph {
  @apply text-primary-600 leading-relaxed text-xl;
}

.speciality__infos-paragraph-italic {
  @apply text-primary-600 leading-relaxed text-xl italic font-light mt-7;
}

.speciality__infos-subtitle {
  @apply text-xl font-noto font-extrabold mt-9 mb-4;
}

.speciality__infos-tiny-info {
  @apply text-base leading-relaxed;
}

.speciality__visual-wrapper {
  @apply aspect-square overflow-hidden rounded-[60px];
}

.speciality__infos {
  @apply order-2 lg:order-none;
}

.speciality__visual {
  @apply object-cover w-full h-full order-1 lg:order-none transition-all duration-1000 ease-in-out;
}

/* Separator */

.separator {
  @apply relative flex items-center;
}

.separator__line {
  @apply w-full;
}

.separator__flowers {
  @apply absolute mx-auto left-0 right-0;
}

/* Footer */

.footer {
  @apply my-16;
}

.footer__wrapper {
  @apply bg-secondary-500 bg-[url(/dist/images/bg-footer.webp)] bg-[auto_60%] md:bg-[auto_100%] bg-no-repeat bg-right-bottom py-10 rounded-[40px] px-10 md:px-20 flex flex-col gap-8;
}

.footer__title-wrapper {
  @apply flex flex-col gap-2;
}

.footer__title {
  @apply text-center text-white font-recoleta text-3xl md:text-[44px] font-medium;
}

.footer__paragraph {
  @apply text-center text-white text-lg leading-tight md:text-xl;
}

.footer__grid {
  @apply grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-8;
}

.footer__grid-item {
  @apply text-sm text-white flex flex-col gap-1.5 text-center md:text-left;
}

.footer__grid-strong {
  @apply text-secondary-300 font-extrabold;
}

.footer__grid-link {
  @apply text-white transition-all duration-500;

  &:hover {
    @apply text-secondary-300;
  }
}

/* Sub Footer */

.subfooter {
  @apply bg-black py-6;
}

.subfooter__wrapper {
  @apply flex justify-between flex-col gap-4 md:flex-row md:gap-0;
}

.subfooter__infos {
  @apply text-sm leading-tight text-white text-center md:text-left flex gap-0 md:gap-2 justify-center md:justify-start flex-col md:flex-row;
}

.subfooter__brand {
  @apply text-[10px] text-white flex items-center gap-1.5 justify-center md:justify-start;
}

.subfooter__logo {
  @apply shrink-0;
}
